<div class="toolbar">
  <h1 class="page-title">Current United States Congress</h1>
</div>

<div class="media-container">
	<div class="media" ng-repeat="member in members">
	  <div class="media-component">
	    <h2>{{member.person.name}}</h2>
	  	<span class="media-detail media-date"><strong>Term:</strong> <em>{{member.startdate}} - {{member.enddate}}</em></span>
	    <span data-icon="&#x2605;" class="media-detail media-link">{{member.person.twitterid}}</span>
	    <span data-icon="&#x25ba;" class="media-detail media-link">{{member.person.youtubeid}}</span>
	  </div>
	</div>
</div>